{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Sentence') }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          {{ form.form_text(columns=12, label='Judge Category', help_text='Splitted by \', \'. The default judge category is "sentence"', name='judge_category', value='sentence') }}
          <div class="row"><div class="columns">
            <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
            <button type="submit" class="rounded primary button">
              {{ _('Begin Sentence') }}
            </button>
          </div></div>
        </form>
      </div>
    </div>
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Export') }}</h1>
      </div>
      <div class="section__body">

      </div>
    </div>
  </div>
</div>
{% endblock %}
