{% extends "layout/basic.html" %}
{% import "components/problem.html" as problem with context %}
{% block content %}
  {#<script>
  var Context = {{ {
    'socketUrl': socket_url,
  }|json|safe }};
</script>#}
  <div class="row">
    <div class="medium-12 columns">
      <div class="section visible" id="notes">
        <div class="section__header">
          <h1 class="section__title">
            Notes
          </h1>
        </div>
        <div class="section__body typo">
          This function is in beta test. Please help improve it in the issues
          <a href="https://github.com/joint-online-judge/cb4/issues/22" target="_blank">here</a>.
        </div>
      </div>
    </div>
    <div class="medium-12 columns">
      <div class="section visible" id="stderr">
        <div class="section__header">
          <h1 class="section__title">
            <span
                class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[vj4.constant.record.STATUS_JUDGING] }}"></span>
            <span
                class="record-status--text {{ vj4.constant.record.STATUS_CODES[vj4.constant.record.STATUS_JUDGING] }}">Stderr</span>
            <a class="tool-button" href="{{ reverse_url('wiki_help') }}#stderr"><span class="icon icon-help"></span></a>
          </h1>
        </div>
        <div class="section__body">
          <pre class="compiler-text">{{ rcdoc['stderr'] }}</pre>
        </div>
      </div>
    </div>
    {% if rcdoc['status'] != vj4.constant.record.STATUS_ACCEPTED %}
      <div class="medium-12 columns">
        <div class="section visible" id="hints">
          <div class="section__header">
            <h1 class="section__title">
              Hints
            </h1>
          </div>
          <div class="section__body typo">
            <p>Your answer may be identical to the JOJ answer in the first several lines.</p>
            {% if rcdoc['status'] == vj4.constant.record.STATUS_WRONG_ANSWER %}
              <p>However, you will still get <span
                  class="record-status--text {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}">
                {{ vj4.constant.record.STATUS_TEXTS[rcdoc['status']] }}</span>
                because the complete output may be longer and there might be errors in the future lines.</p>
            {% else %}
              <p>However, the main problem you meet now is
                <span class="record-status--text {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}">
                {{ vj4.constant.record.STATUS_TEXTS[rcdoc['status']] }}</span>.
                {% if rcdoc['execute_status'] != 0 %}
                  And the exit code of your program is {{ rcdoc['execute_status'] }}, which should be 0.
                {% endif %}
              </p>
            {% endif %}
            <p>Please double check your code to solve this problem and try again.</p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="medium-6 columns">
      <div class="section visible" id="stdout">
        <div class="section__header">
          <h1 class="section__title">
            <span class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}"></span>
            <span class="record-status--text {{ vj4.constant.record.STATUS_CODES[rcdoc['status']] }}">Your Answer</span>
          </h1>
        </div>
        <div class="section__body">
          <pre class="compiler-text" id="compiler-text-stdout">{{ rcdoc['stdout'] }}</pre>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="section visible" id="answer">
        <div class="section__header">
          <h1 class="section__title">
            <span
                class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[vj4.constant.record.STATUS_ACCEPTED] }}"></span>
            <span
                class="record-status--text {{ vj4.constant.record.STATUS_CODES[vj4.constant.record.STATUS_ACCEPTED] }}">JOJ Answer</span>
          </h1>
        </div>
        <div class="section__body">
          <pre class="compiler-text" id="compiler-text-answer">{{ rcdoc['answer'] }}</pre>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/4.0.2/diff.js"></script>
  <script>
      const stdout_elm = document.getElementById("compiler-text-stdout");
      const answer_elm = document.getElementById("compiler-text-answer");
      const stdout = {{ rcdoc['stdout']|tojson }};
      const answer = {{ rcdoc['answer']|tojson }};
      const diff = Diff.diffWords(stdout, answer);
      const stdout_fragment = document.createDocumentFragment();
      const answer_fragment = document.createDocumentFragment();
      for (var i = 0; i < diff.length; i++) {
        var stdout_node, answer_node;
        if (diff[i].removed) {
          stdout_node = document.createElement('span');
          stdout_node.style = "color: #b30000; background: #fadad7;";
          stdout_node.appendChild(document.createTextNode(diff[i].value));
        } else if (diff[i].added) {
          answer_node = document.createElement('span');
          answer_node.style = "color: #406619; background: #eaf2c2;";
          answer_node.appendChild(document.createTextNode(diff[i].value));
        } else {
          stdout_node = document.createTextNode(diff[i].value);
          answer_node = document.createTextNode(diff[i].value);
        }
        stdout_node && stdout_fragment.appendChild(stdout_node);
        answer_node && answer_fragment.appendChild(answer_node);
      }
      stdout_elm.textContent = '';
      stdout_elm.appendChild(stdout_fragment);
      answer_elm.textContent = '';
      answer_elm.appendChild(answer_fragment);
  </script>
{% endblock %}
