git+https://github.com/LukeXuan/aiosmtplib # custom aiosmtlib with ssl support
git+https://github.com/iceb0y/aiomongo@d229a1f9a0901753c5d66e9a9c45cb756aea2199
accept==0.1.0
aioamqp==0.14.0
aiohttp==2.2.0
asn1crypto==0.24.0
async-timeout==3.0.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
coloredlogs==15.0
cryptography==2.1.4
geoip2==4.2.0
gitdb==4.0.7
GitPython==3.1.17
hoedown==0.3.0
httpagentparser==1.9.1
humanfriendly==9.1
idna==2.6
Jinja2==3.0.1
keyring==10.6.0
keyrings.alt==3.0
lxml==4.6.5
MarkupSafe==2.0.1
maxminddb==2.0.3
mosspy==1.0.9
multidict==5.1.0
oauthlib==3.1.0
pamqp==2.3.0
pycrypto==2.6.1
pygobject==3.26.1
pymongo==3.3.1
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
rarfile==4.0
requests==2.25.1
SecretStorage==2.3.1
six==1.11.0
smmap==4.0.0
sockjs==0.6.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==0.10.3
